/*RTL CSS*/

.about-left-image img{
  width: 100%;
}
.about-left{
  position: relative;
}
.award-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
}
.home .homepage-header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: transparent !important;
}
.homepage-header-column{
  gap:0px !important;
}
.contact-gap{
  gap:0px;
}
.wp-header-search-social ul {
  gap:0px !important;
}
.wp-header-search-social li a{
  color: #fff !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  border-left: 1px solid #fff;
}
.menu-box ul li a:hover{
  color: #FF014F !important;
}
.wp-header-search-social li a:hover svg{
  fill: #FF014F !important;
}
.wp-header-search-social li:last-child a{
  border-left: 0px;
  padding-left: 0px !important;
}
.homepage-header:after {
  content: "";
  width: 11%;
  height: 49px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #ffffff;
}
.contact-gap .wp-block-image img {
  vertical-align: baseline;
}
.mail-box{
  gap:10px !important;
}
.menu-box{
  margin-top: 0 !important;
  padding: 12px 0;
}
.wp-site-blocks{
  padding: 0 !important;
}
.slider-banner {
  gap: 40px;
}
.slide-img {
  position: absolute;
  left: 0px;
  bottom: 6%;
}
.slider-img img{
  width: 100%;
  height: 575px;
}
.counter-box {
  border-radius: 10px;
}
.is-head-menu li a:hover {
  text-decoration: none;
}
.slider-banner{
  gap:0px !important;
}
footer.wp-block-template-part {
  margin-top: 0;
}
@media screen and (max-width: 781px) {
  .home .homepage-header{
    position: relative;
    background: #434343 !important;
  }
  .about-content{
    padding-right: 0px !important;
    text-align: center;
  }
  .contact-box{
    padding-right: 0px !important;
  }
  .banner-section{
    min-height: 400px !important;
  }
  .small-image{
    width: 100%;
  }
  .banner-btn{
    justify-content: center;
  }
  .slider-banner h2{
    font-size: 20px !important;
  }
  .about-btn{
    justify-content: center;
  }
  .slider-banner p{
    text-align: center;
  }
  .award-box {
    position: relative;
    left: 0px;
    top: 0px !important;
    margin-top: 20px !important;
    transform: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .header-area .wp-container-core-buttons-layout-1.wp-container-core-buttons-layout-1 {
    justify-content: center;
  }
  .homepage-header:after{
    display: none;
  }
  .slider-banner{
    text-align: center;
  }
  .mail-box{
    justify-content: center !important;
    margin-bottom: 10px !important;
  }
  .menu-box {
    justify-content: center;
    display: flex;
  }
  .admin-bar .wp-block-navigation__responsive-container-close {
    color: #000;
    top:15px;
  }
  .slider-banner {
    gap: 20px;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container{
    justify-content: center !important;
  }
  .homepage-header{
    position: static;
    width: 100%;
    text-align: center;
    }
  .homepage-header .wp-header-search-social{
    justify-content: center;
  }
}
@media screen and (min-width: 801px) and (max-width: 1020px) {
  .about-content p{
    font-size: 12px !important;
  }
  .about-content h3{
    font-size: 19px !important;
  }
  .contact-gap{
    gap:0px;
  }
  .is-about-boxs{
    flex-basis: 30% !important;
  }
  .about-small-image{
    flex-basis: 20% !important;
  }
  .about-left-image img{
    height: 500px;
    object-fit: cover;
  }
  .wp-header-search-social ul {
    gap:0px !important;
  }
  .wp-header-search-social li a {
    color: #fff !important;
    padding-right: 2px !important;
    padding-left: 7px !important;
    border-left: 1px solid #fff;
  }
  .contact-gap p {
    font-size: 10px !important;
  }
  .homepage-header-column{
    max-width: 90% !important;
  }
  .footer-widgets{
    max-width: 90% !important;
  }
  .menu-box{
    flex-basis: 70% !important;
  }
}
@media screen and (min-width: 1021px) and (max-width: 1200px) {
  .is-about-boxs{
    flex-basis: 30% !important;
  }
  .about-small-image{
    flex-basis: 20% !important;
  }
  .about-content h3 {
    font-size: 22px !important;
  }
  .about-content p {
    font-size: 13px !important;
  }

  .about-left-image img{
    height: 400px;
    object-fit: cover;
  }
  .wp-header-search-social li a {
    color: #fff !important;
    padding-right: 2px !important;
    padding-left: 7px !important;
    border-left: 1px solid #fff;
  }
  .contact-gap p {
    font-size: 12px !important;
  }
  
}

.wc-block-mini-cart.wp-block-woocommerce-mini-cart {
    display: none;
}